generic:
  deployment:
    image: lscr.io/linuxserver/sonarr:4.0.16
    ports:
    - containerPort: 8989
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/sonarr/config
        backup:
          enabled: true
      media:
        mountPath: /mnt/media
        hostPath: ~ # /mnt/somewhere/encrypted/media
  service:
    ports:
    - name: http
      port: 8989
  ingress:
    https:
    - subdomain: sonarr
      port: 8989
      middlewares:
      - oauth2-proxy
    - subdomain: sonarr
      priority: 20
      matchSuffix: '&& PathPrefix(`/api`)'
      port: 8989
