LLM_PROVIDER: openai
LLM_MODEL: gpt-4o
LOG_LEVEL: INFO
AWS_OCR_BUCKET_NAME: paperless-ocr
PROMPT_TITLE_EXPLANATION: ''
PROMPT_DOCUMENT_TYPE_EXPLANATION: ''
PROMPT_CORRESPONDENT_EXPLANATION: ''
PROMPT_POSTAMBLE: ''
generic:
  externalSecrets:
    paperlessgpt-secret:
      - PAPERLESS_API_TOKEN: "/paperlessgpt/PAPERLESS_API_TOKEN"
      - OPENAI_API_KEY: "/paperlessgpt/OPENAI_API_KEY"
      - AWS_ACCESS_KEY_ID: "/paperlessgpt/AWS_ACCESS_KEY_ID"
      - AWS_SECRET_ACCESS_KEY: "/paperlessgpt/AWS_SECRET_ACCESS_KEY"
      - PROMPT_PREAMBLE: "/paperlessgpt/PROMPT_PREAMBLE"
      - CORRESPONDENT_BLACK_LIST: "/paperlessgpt/CORRESPONDENT_BLACK_LIST"
      - PROMPT_TAGS_EXPLANATION: "/paperlessgpt/PROMPT_TAGS_EXPLANATION"
  deployment:
    image: jonashess/paperless-gpt:unreleased
    pvcMounts:
      prompts:
        mountPath: /app/prompts
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperless-gpt/prompts
        backup:
          enabled: true
    envFrom:
      secretRef: paperlessgpt-secret
      configMapRef: paperlessgpt-config
