generic:
  deployment:
    image: tomsquest/docker-radicale:3.6.1.0
    ports:
    - containerPort: 5232
    pvcMounts:
      data:
        mountPath: /data
        hostPath: ~ # /mnt/storage/radicale/data
        backup:
          enabled: true
  service:
    ports:
    - name: http
      port: 5232
  ingress:
    https:
    - subdomain: radicale
      port: 5232
      middlewares:
      - oauth2-proxy