apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prometheus-external-secret
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h

  secretStoreRef:
    kind: SecretStore
    name: akeyless-secret-store

  target:
    name: grafana-admin-credentials
    creationPolicy: Owner

  data:
    - secretKey: "admin-user"
      remoteRef:
        key: "{{.Values.global.akeyless.path}}/o11y/grafana/admin-user"
    - secretKey: "admin-password"
      remoteRef:
        key: "{{.Values.global.akeyless.path}}/o11y/grafana/admin-password"
