generic:
  deployment:
    image: ghcr.io/linuxserver/plex:1.42.2
    ports:
    - containerPort: 32400
    resources:
      limits:
        nvidia.com/gpu: 1
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/encrypted/apps/plex/config
      media:
        mountPath: /mnt/media
        hostPath: ~ # /mnt/somewhere/encrypted/media
    envFrom:
      secretRef: plex-secret
      configMapRef: plex-config
  service:
    ports:
    - name: http
      port: 32400
  ingress:
    https:
    - subdomain: plex
      port: 32400
    tcp:
    - port: 32400
      traefikEntryPoint: plex
