generic:
  externalSecrets:
    vaultwarden-secret:
      - ADMIN_TOKEN: "/vaultwarden/ADMIN_TOKEN"
    vaultwarden-smtp-secret:
      - SMTP_USERNAME: "/vaultwarden/SMTP_USERNAME"
      - SMTP_PASSWORD: "/vaultwarden/SMTP_PASSWORD"
  persistentVolumeClaims:
    data:
      hostPath: ~ # /mnt/somewhere/encrypted/apps/vaultwarden/data
      backup:
        enabled: true
  ingress:
    https:
    - subdomain: vaultwarden
      port: 80
      service: vaultwarden
smtp:
  host: smtp.example.com
  from: vaultwarden@example.com
  fromName: Vaultwarden
