generic:
  externalSecrets:
    sftpgo-secret:
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET: "/oidc/oauth2-proxy/client_secret"
  deployment:
    image: drakkan/sftpgo:v2.7.0
    ports:
    - containerPort: 8080
    - containerPort: 2222
    - containerPort: 2121
    pvcMounts:
      data:
        mountPath: /srv/sftpgo
        hostPath: ~ # /mnt/somewhere/encrypted/apps/sftpgo/data
        backup:
          enabled: true
      config:
        mountPath: /var/lib/sftpgo
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/sftpgo/config
        backup:
          enabled: true
      stirlingpdf:
        mountPath: /mnt/stirlingpdf/pipeline/
        hostPath: ~ # /mnt/somewehere/encrypted/apps/stirlingpdf/pipeline/
    envFrom:
      secretRef: sftpgo-secret
    configMapMounts:
      configmap:
        mountPath: /etc/sftpgo/
        configMapName: sftpgo-config
  service:
    ports:
    - name: http
      port: 8080
    - name: webdav
      port: 8081
    - name: sftp
      port: 2222
      protocol: TCP
    - name: ftp
      port: 2121
      protocol: TCP
  ingress:
    https:
    - subdomain: sftpgo
      port: 8080
      middlewares:
      - oauth2-proxy
    - subdomain: sftpgo
      port: 8080
      matchSuffix: '&& PathPrefix(`/web/client/pubshares/`)'
      priority: 20
    - subdomain: webdav
      port: 8081
    tcp:
    - port: 2222
      traefikEntryPoint: sftpgo
    - port: 2121
      traefikEntryPoint: ftp
