apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: oauth2-proxy
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`auth.{{ .Values.global.domain }}`)
      services:
        - name: {{ .Release.Name }}-oauth2-proxy
          port: 80
  tls:
    certResolver: cloudflare
