admin:
  username: admin
  email: null
generic:
  externalSecrets:
    paperlessngx-secret:
      - PAPERLESS_DBPASS: "/paperlessngx/POSTGRES_PASSWORD"
      - PAPERLESS_ADMIN_PASSWORD: "/paperlessngx/PAPERLESS_ADMIN_PASSWORD"
      - PAPERLESS_SOCIALACCOUNT_PROVIDERS: "/paperlessngx/PAPERLESS_SOCIALACCOUNT_PROVIDERS"
  deployment:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.4
    ports:
    - containerPort: 8000
    pvcMounts:
      data:
        mountPath: /usr/src/paperless/data
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperlessngx/data
        backup:
          enabled: true
      media:
        mountPath: /usr/src/paperless/media
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperlessngx/media
        backup:
          enabled: true
      export:
        mountPath: /usr/src/paperless/export
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperlessngx/export
        backup:
          enabled: true
      consume:
        mountPath: /usr/src/paperless/consume
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperlessngx/consume
        backup:
          enabled: true
    envFrom:
      configMapRef: paperlessngx-config
      secretRef: paperlessngx-secret
  service:
    ports:
    - name: http
      port: 8000
  ingress:
    https:
    - subdomain: paperlessngx
      port: 8000
      middlewares:
      - oauth2-proxy
    - subdomain: paperlessngx
      priority: 20
      matchSuffix: '&& PathPrefix(`/api`)'
      port: 8000
