generic:
  deployment:
    image: lscr.io/linuxserver/sabnzbd:4.5.5
    ports:
    - containerPort: 8080
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/sabnzbd/config
        backup:
          enabled: true
      media:
        mountPath: /mnt/media
        hostPath: ~ # /mnt/somewhere/encrypted/media
      downloads:
        mountPath: /mnt/downloads
        hostPath: ~ # /data/volumes/sabnzbd-downloads
      watchdir:
        mountPath: /mnt/watchdir
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/watchdir
  service:
    ports:
    - name: http
      port: 8080
  ingress:
    https:
    - subdomain: sabnzbd
      port: 8080
      middlewares:
      - oauth2-proxy
    - subdomain: sabnzbd
      matchSuffix: '&& ( Path(`/sabnzbd/api`) || QueryRegexp(`apikey`, `^[a-z0-9]{32}$`))'
      priority: 20
      port: 8080
