generic:
  deployment:
    image: lscr.io/linuxserver/prowlarr:1.37.0
    ports:
    - containerPort: 9696
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/prowlarr/config
        backup:
          enabled: true
      media:
        mountPath: /mnt/media
        hostPath: ~ # /mnt/somewhere/encrypted/media
  service:
    ports:
    - name: http
      port: 9696
  ingress:
    https:
    - subdomain: prowlarr
      port: 9696
      middlewares:
      - traefik-forward-auth
    - subdomain: prowlarr
      priority: 20
      matchSuffix: '&& PathPrefix(`/api`)'
      port: 9696
