global:
  oidcConfigurationUrl: ~ # https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_t9DQfKlSX/.well-known/openid-configuration

generic:
  configMaps:
    mealie-config:
      BASE_URL: "https://mealie.{{ .Values.global.domain }}"
      ALLOW_SIGNUP: "false"
      DB_ENGINE: "sqlite"
      IS_DEMO: "false"
      DEFAULT_GROUP: "Home"
      DEFAULT_HOUSEHOLD: "Family"
      DAILY_SCHEDULE_TIME: "23:45"
      SMTP_PORT: "587"
      SMTP_FROM_NAME: "Mealie"
      SMTP_AUTH_STRATEGY: "TLS"
      OIDC_AUTH_ENABLED: "true"
      OIDC_CONFIGURATION_URL: '{{ required "global.oidcConfigurationUrl is required" .Values.global.oidcConfigurationUrl }}'
      OIDC_SIGNUP_ENABLED: "true"
      OIDC_PROVIDER_NAME: "Cognito"
      OIDC_AUTO_REDIRECT: "true"
      OIDC_REMEMBER_ME: "true"
      OIDC_USER_CLAIM: "email"
      OIDC_NAME_CLAIM: "name"
      OIDC_GROUPS_CLAIM: "groups"
  deployment:
    image: ghcr.io/mealie-recipes/mealie:v3.11.0
    ports:
      - containerPort: 9000
    pvcMounts:
      data:
        mountPath: /app/data
        hostPath: ~ # /mnt/somewhere/encrypted/apps/mealie/data
        backup:
          enabled: true
    envFrom:
      configMapRef: mealie-config
      secretRef: mealie-secret
  service:
    ports:
      - name: http
        port: 9000
  ingress:
    https:
      - subdomain: mealie
        port: 9000
        middlewares:
          - oauth2-proxy
  externalSecrets:
    mealie-secret:
      - OIDC_CLIENT_ID: "/mealie/OIDC_CLIENT_ID"
      - OIDC_CLIENT_SECRET: "/mealie/OIDC_CLIENT_SECRET"
      - SMTP_HOST: "/mealie/SMTP_HOST"
      - SMTP_FROM_EMAIL: "/mealie/SMTP_FROM_EMAIL"
      - SMTP_USER: "/mealie/SMTP_USER"
      - SMTP_PASSWORD: "/mealie/SMTP_PASSWORD"
      - OPENAI_API_KEY: "/mealie/OPENAI_API_KEY"
