generic:
  externalSecrets:
    tgtg-credentials:
      - NTFY_TOPIC: "/tgtg/ntfy_topic"
      - TGTG_USERNAME: "/tgtg/username"
      - TELEGRAM_TOKEN: "/tgtg/telegram_bot_token"
      - TELEGRAM_CHAT_IDS: "/tgtg/TELEGRAM_CHAT_IDS"
  deployment:
    image: derhenning/tgtg:v1.25.0-alpine
    envFrom:
      secretRef: tgtg-credentials
      configMapRef: tgtg-config-map
    pvcMounts:
      tokens:
        mountPath: /tokens
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/tgtg/tokens
        backup:
          enabled: true
  service:
    ports:
    - name: http
      port: 8000
