generic:
  deployment:
    image: derhenning/tgtg:v1.24.2-alpine
    envFrom:
      secretRef: tgtg-credentials
      configMapRef: tgtg-config-map
    pvcMounts:
      tokens:
        mountPath: /tokens
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/tgtg/tokens
        backup:
          enabled: true
  service:
    ports:
    - name: http
      port: 8000
