generic:
  configMaps:
    zigbee2mqtt-config-map:
      ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: "true"
      ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
      ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: "zigbee2mqtt"
      ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://mosquitto-service"
      ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "/dev/ttyACM0"
      ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: "ember"
      ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL: "15"
      ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: "false"
      ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: "false"
      ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: "info"
      ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: "false"
      ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: "5"
      ZIGBEE2MQTT_CONFIG_MQTT_RETAIN: "5"
      ZIGBEE2MQTT_CONFIG_ADVANCED_CACHE_STATE_SEND_ON_STARTUP: "false"
      ZIGBEE2MQTT_CONFIG_ADVANCED_CACHE_STATE_PERSISTENT: "false"
      ZIGBEE2MQTT_CONFIG_TIMEZONE: "Europe/Berlin"
      TZ: "Europe/Berlin"
  externalSecrets:
    zigbee2mqtt-secret:
      - ZIGBEE2MQTT_CONFIG_MQTT_USER: "/zigbee2mqtt/ZIGBEE2MQTT_CONFIG_MQTT_USER"
      - ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: "/zigbee2mqtt/ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD"
  deployment:
    securityContext:
      privileged: true
    image: koenkk/zigbee2mqtt:2.8.0
    ports:
    - containerPort: 8080
    pvcMounts:
      data:
        mountPath: /app/data
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/zigbee2mqtt/data
        backup:
          enabled: true
    deviceMounts:
      zigbeeusb:
        mountPath: /dev/ttyACM0
        hostPath: ~ # /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_2a6293476f3bec118baba4957a0af07f-if00-port0
    envFrom:
      configMapRef: zigbee2mqtt-config-map
      secretRef: zigbee2mqtt-secret
  service:
    ports:
    - name: http
      port: 8080
  ingress:
    https:
    - subdomain: zigbee2mqtt
      port: 8080
      middlewares:
      - oauth2-proxy
