mqttServer: mqtt://mosquitto-service
devicePath: /dev/ttyACM0
serialAdapter: ember
zigbeeChannel: '15'
homeAssistant: 'true'
permitJoin: 'false'
mqttBaseTopic: zigbee2mqtt
generic:
  deployment:
    securityContext:
      privileged: true
    image: koenkk/zigbee2mqtt:2.7.1
    ports:
    - containerPort: 8080
    pvcMounts:
      data:
        mountPath: /app/data
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/zigbee2mqtt/data
        backup:
          enabled: true
    deviceMounts:
      zigbeeusb:
        mountPath: /dev/ttyACM0
        hostPath: ~ # /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_2a6293476f3bec118baba4957a0af07f-if00-port0
    envFrom:
      configMapRef: zigbee2mqtt-config-map
      secretRef: zigbee2mqtt-secret
  service:
    ports:
    - name: http
      port: 8080
  ingress:
    https:
    - subdomain: zigbee2mqtt
      port: 8080
      middlewares:
      - oauth2-proxy
