generic:
  deployment:
    image: ollama/ollama:0.15.2
    ports:
    - containerPort: 11434
    pvcMounts:
      data:
        mountPath: /root/.ollama
        hostPath: ~ # /mnt/somewhere/encrypted/apps/ollama/data
  service:
    ports:
    - name: http
      port: 11434
