generic:
  deployment:
    image: adguard/adguardhome:v0.107.67
    ports:
    - containerPort: 3000
    - containerPort: 53
    - containerPort: 80
    - containerPort: 443
    pvcMounts:
      config:
        mountPath: /opt/adguardhome/conf
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/adguard/config
        backup:
          enabled: true

      data:
        mountPath: /opt/adguardhome/work
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/adguard/data
  service:
    ports:
    - name: http
      port: 80
    - name: https
      port: 443
    - name: dns
      port: 53
    - name: admin
      port: 3000
  ingress:
    https:
    - subdomain: adguard
      port: 80
      middlewares:
      - oauth2-proxy
    - subdomain: adguard-admin
      port: 3000
      middlewares:
      - oauth2-proxy
    udp:
    - port: 53
      traefikEntryPoint: dns
