generic:
  configMaps:
    cloudflare-ddns-config-map:
      CRON_JOB: "23 * * * *"
      AUTH_METHOD: "global"
      RECORD_NAME: "{{ .Values.global.domain }}"
      RECORD_TYPE: "A"
      TTL: "60"
      PROXY: "false"
      SITENAME: "{{ .Values.global.domain }}"
      NOTIFICATION_LEVEL: "on_success_or_error"
  externalSecrets:
    cloudflare-ddns-api-credentials:
      - AUTH_EMAIL: "/ddns/cloudflare-api-credentials_email"
      - AUTH_KEY: "/ddns/cloudflare-api-credentials_globalApiKey"
      - ZONE_IDENTIFIER: "/ddns/cloudflare-api-credentials_zoneId"
      - NTFYURI: "/ddns/ddns-ntfy-topic"
  deployment:
    image: zimmermq/cloudflare-ddns:v1.0.1
    envFrom:
      secretRef: cloudflare-ddns-api-credentials
      configMapRef: cloudflare-ddns-config-map
