generic:
  deployment:
    image: postgres:17
    ports:
    - containerPort: 5432
    readinessProbe:
      exec:
        command:
          - /bin/sh
          - -c
          - pg_isready -U "$POSTGRES_USER" -d "$POSTGRES_DB"
      initialDelaySeconds: 5
      periodSeconds: 10
    livenessProbe:
      exec:
        command:
          - /bin/sh
          - -c
          - pg_isready -U "$POSTGRES_USER" -d "$POSTGRES_DB"
      initialDelaySeconds: 30
      periodSeconds: 30
    pvcMounts:
      data:
        mountPath: /var/lib/postgresql/data
        hostPath: ~ # /mnt/somewhere/encrypted/apps/postgres/data
        backup:
          enabled: true
    envFrom:
      secretRef: postgres-secret
      configMapRef: postgres-config
    configMapMounts:
      postgresqlconf:
        mountPath: /etc/postgresql
        configMapName: postgres-config-file
  service:
    ports:
    - name: postgres
      port: 5432
