# Container image configuration
image:
  repository: 629099703604.dkr.ecr.eu-central-1.amazonaws.com/hess.pm/smarthome4
  tag: "v0.0.8"
  pullPolicy: Always

# Spring configuration
profilesActive: prod

# MQTT configuration
mqtt:
  host: mosquitto-service
  port: "1883"

# Home Assistant configuration
homeAssistant:
  baseUrl: http://homeassistant-service:8123
  cache:
    maxAgeMs: "300000"

# Device state configuration
device:
  stateTimeoutSeconds: "300"

# Application model refresh configuration
applicationModel:
  refresh:
    enabled: "true"
    intervalMs: "300000"
    initialDelayMs: "60000"

# Application config file content
appConfig: |
  version: "1.0"
  
  smartHome:
    conditions: []
    homeAssistantResources: []
    sensors: []
    groups: []