generic:
  deployment:
    image: tautulli/tautulli:v2.16.1
    ports:
    - containerPort: 8181
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/tautulli/config
        backup:
          enabled: true
  service:
    ports:
    - name: http
      port: 8181
  ingress:
    https:
    - subdomain: tautulli
      port: 8181
      middlewares:
      - oauth2-proxy
