generic:
  deployment:
    image: frooodle/s-pdf:2.4.3
    ports:
    - containerPort: 8080
    pvcMounts:
      scanner:
        mountPath: /pipeline/watchedFolders/scanner
        hostPath: ~ # /mnt/somewehere/encrypted/apps/stirlingpdf/pipeline/watchedFolders/scanner
      paperlessconsume:
        mountPath: /pipeline/finishedFolders
        hostPath: ~ # /mnt/somewhere/encrypted/apps/paperlessngx/consume
  service:
    ports:
    - name: http
      port: 8080
  ingress:
    https:
    - subdomain: stirling-pdf
      port: 8080
      middlewares:
      - oauth2-proxy
    - subdomain: pdf
      port: 8080
      middlewares:
      - oauth2-proxy
