generic:
  deployment:
    image: lscr.io/linuxserver/homeassistant:2025.11.1
    ports:
    - containerPort: 8123
    pvcMounts:
      config:
        mountPath: /config
        hostPath: ~ # /mnt/somewhere/unencrypted/apps/homeassistant/config
        backup:
          enabled: true
    envFrom:
      configMapRef: homeassistant-config-map
  service:
    ports:
    - name: http
      port: 8123
  ingress:
    https:
    - subdomain: homeassistant
      port: 8123
      middlewares:
      - traefik-forward-auth
    - subdomain: homeassistant
      priority: 20
      matchSuffix: '&& (PathPrefix(`/api`) || PathPrefix(`/auth`))'
      port: 8123
