persistence:
  data:
    mountPath: /mnt/somewhere/unencrypted/apps/homematic/ccu_data
    backup:
      enabled: true
generic:
  ingress:
    https:
    - subdomain: homematic
      port: 80
      service: homematic-openccu
      middlewares:
      - oauth2-proxy
