# Feature flags for optional alerts
alerts:
  duplicati:
    enabled: false
  probes:
    enabled: true  # Set to false to disable probe/blackbox alerts

generic:
  externalSecrets:
    grafana-admin-credentials:
      - admin-user: "/o11y/grafana/admin-user"
      - admin-password: "/o11y/grafana/admin-password"
    pagerduty-secret:
      - pagerduty_service_key: "/o11y/alertmanager/pagerduty_service_key"
  ingress:
    https:
    - subdomain: prometheus
      port: 9090
      service: kube-prometheus-stack-prometheus
      middlewares:
      - oauth2-proxy
    - subdomain: grafana
      port: 80
      service: kube-prometheus-stack-grafana
      middlewares:
      - oauth2-proxy
    - subdomain: alertmanager
      port: 9093
      service: kube-prometheus-stack-alertmanager
      middlewares:
      - oauth2-proxy
  persistentVolume:
    prometheus: /mnt/somewhere/unencrypted/apps/prometheus/data
  persistentVolumeClaims:
    grafana:
      hostPath: ~ # /mnt/somewhere/unencrypted/apps/prometheus/grafana/data
    alertmanager:
      hostPath: ~ # /mnt/somewhere/unencrypted/apps/prometheus/alertmanager/data
