appName: portal-document-downloader

generic:
  persistentVolumeClaims: {}

portalDocumentDownloader:
  image: "339712710461.dkr.ecr.eu-central-1.amazonaws.com/portal-document-downloader"
  imageTag: "v7.0.3"
  imagePullSecrets:
    - name: regcred-secondary

  externalSecret:
    enabled: true
    secretStoreName: akeyless-secret-store

  # Example portal configuration:
  #   treubau:
  #     enabled: true
  #     schedule: "0 2 1 * *"
  #     suspend: false
  #     flat: true
  #     env:
  #       PORTAL: "treubau"
  #     secrets:
  #       TREUBAU_KURZNAME: /portal-document-downloader/TREUBAU_KURZNAME
  #       TREUBAU_PASSWORT: /portal-document-downloader/TREUBAU_PASSWORT
  portals: {}
