generic:
  deployment:
    image: b4bz/homer:v25.11.1
    ports:
     - containerPort: 8080
    configMapMounts:
      homerconf:
        mountPath: /www/assets/
        configMapName: homer-config
  ingress:
    https:
      - subdomain: homer
        port: 8080
        middlewares:
          - traefik-forward-auth
      - port: 8080
        middlewares:
          - traefik-forward-auth
  service:
    ports:
      - name: http
        port: 8080