apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cloudflare
  namespace: {{ $.Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

spec:
  plugin:
    traefik-plugin-cloudflare:
      {{- if .Values.middlewares.cloudflare.allowedCIDRs }}
      allowedCIDRs:
        {{- range .Values.middlewares.cloudflare.allowedCIDRs }}
        - {{ . }}
        {{- end }}
      {{- end }}
      overwriteRequestHeader: false