apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-https
  namespace: {{ $.Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`argocd.{{ .Values.global.domain }}`) && PathPrefix(`/api/webhook`)
      priority: 20
      services:
        - kind: Service
          name: argocd-server
          port: https
          serversTransport: insecure-transport
    - kind: Rule
      match: Host(`argocd.{{ .Values.global.domain }}`)
      priority: 10
      services:
        - kind: Service
          name: argocd-server
          port: https
          serversTransport: insecure-transport
      middlewares:
        - name: oauth2-proxy
          namespace: {{ $.Release.Namespace }}
{{/*    - kind: Rule*/}}
{{/*      match: >-*/}}
{{/*        Host(`argocd.{{ .Values.global.domain }}`) &&*/}}
{{/*        Headers(`Content-Type`, `application/grpc`)*/}}
{{/*      priority: 11*/}}
{{/*      services:*/}}
{{/*        - kind: Service*/}}
{{/*          name: argocd-server*/}}
{{/*          port: https*/}}
{{/*          scheme: h2c*/}}
{{/*      middlewares:*/}}
{{/*        - name: oauth2-proxy*/}}
{{/*          namespace: {{ $.Release.Namespace }}*/}}
  tls:
    certResolver: cloudflare