apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.{{ .Values.global.domain }}

  oidc.config: |
    name: Cognito
    issuer:  {{ .Values.global.oauth2_proxy.oidc_issuer_url}}
    clientID: {{ .Values.global.oauth2_proxy.oidc_client_id}}
    clientSecret: $oidc.auth0.clientSecret
    requestedScopes: ["openid", "profile", "email"]
    requestedIDTokenClaims: {"groups": {"essential": true}}
