apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: oauth2-proxy-es
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h

  secretStoreRef:
    kind: SecretStore
    name: akeyless-secret-store

  target:
    name: oauth2-proxy
    creationPolicy: Owner

  data:
    - secretKey: "client-id"
      remoteRef:
        key: "{{ .Values.global.akeyless.path }}/oidc/oauth2-proxy/client_id"
    - secretKey: "client-secret"
      remoteRef:
        key: "{{ .Values.global.akeyless.path }}/oidc/oauth2-proxy/client_secret"
    - secretKey: "cookie-secret"
      remoteRef:
        key: "{{ .Values.global.akeyless.path }}/oidc/oauth2-proxy/cookie_secret"
